
doctype html
html(lang="en")
head
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title BlockchainUNN 3.0 Conference Registration Confirmation & Hackathon Invitation
link(rel="stylesheet", href="/css/styles.css")

body
.container
p Hi #[strong #{firstName}],
p
  | Welcome to #[strong Blockathon]! You’ve successfully
  | registered for the conference, and we’re thrilled to have you with us.
a(href="https://chat.whatsapp.com/DEYnsVLHv6KJU4jirzsakm") Click this link 
  | to join our WhatsApp group to network with other attendees and get first-hand updates about the event.
p
  | But it doesn’t end there. As part of this exciting week-long event,
  | we’re also hosting a #[strong 5-day hackathon], where you’ll get
  | to put your skills to the test and build innovative blockchain projects
  | and solutions with like-minded friends.
p #[strong Here’s your next step:]
p
  | To participate in the hackathon, make sure you complete your
  | registration by following the link below:
span.flex-box
  p.mx-auto
    a.link(href="https://blockchainunn.org/event/hackathon/registration") 👉 Register for the Hackathon
p
  | This is your chance to team up with fellow blockchain enthusiasts,
  | tackle real-world problems, and showcase your creativity and technical
  | expertise.
p
  | Don’t wait—spaces for the hackathon are limited. Get registered now, and
  | we’ll see you on the leaderboards!
p
  | Best regards,
  br 
  | The BlockchainUNN Team
.footer
  p © 2024 BlockchainUNN. All Rights Reserved. 