doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title BlockchainUNN 3.0 Hackathon Registration Confirmation
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container
      p Hi #[strong [#{firstName}]],
      p
        | Welcome aboard! You’re all set for the #[strong BlockchainUNN 3.0 Hackathon], and
        | we’re excited to see what you’ll create.
      p #[strong Here’s how to get started:]
      p #[strong Form Your Team:]
        | If you haven’t teamed up yet, now’s the time to connect with others.
        | You can form teams of 3-5 members. Don’t have a team? No worries—we’ll
        | help you find one through the hackathon's telegram group below:
        span.flex-box
            p.mx-auto
                a.link(href="https://blockchainunn-frontend.onrender.com/blockathon/hackathon/registration") 👉 Join our Telegram Group
      p #[strong Get Ready for the Projects:]
        | During the hackathon, you’ll have the opportunity to work on impactful projects
        | across different blockchain areas. Some project themes include:
      ul
        li #[strong Applications on Open Governance:] Utilizing smart contracts in the African electoral process; voter registration, casting, collation of votes, diaspora voting, zk technology to anonymize casted votes, etc.
        li #[strong Applications on Real World Assets (RWAs):] Digital representations of physical assets on the blockchain, including real estate, commodities, art, bonds, and stocks, etc.
        li #[strong Applications in Entertainment and Media:] Artist management, music, and content distribution, copyrights, IP, etc.
        li #[strong Applications in Financial Inclusion (DEFI) and Education:] Promoting financial literacy and inclusion with DeFi platforms for microloans, blockchain-based identity for the unbanked, and smart contract-based educational tools for certification processes.
        li #[strong Applications in Digital Collectibles:] Preservation of African artifacts and promotion of digital tourism, etc.
        li #[strong General Category:] Open Idea – Surprise us.
      p
        | Prepare to collaborate, create, and compete for the top spot.
        | Our mentors will be available throughout the hackathon to guide you, and
        | you’ll have access to workshops, tools, and resources to help bring your project to life.
      p
        | Start brainstorming with your team now! We can’t wait to see your groundbreaking solutions.
      p
        | Best regards,
        br
        | The BlockchainUNN Team
      .footer
        p © 2024 BlockchainUNN. All Rights Reserved.
